<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>496299581A6A216B008C431C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4962996D1A6A216B008C431C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496299811A6A21DD008C431C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496299981A6A2CA1008C431C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
