<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>KeyboardDescription</key>
		<string>Tadpole is a small chorded keyboard about the size of a numeric keypad that can be used with one hand.</string>
		<key>KeyboardName</key>
		<string>Tadpole</string>
	</dict>
	<dict>
		<key>KeyboardDescription</key>
		<string>The Dvorak Simplified Keyboard has numerous properties designed to increase typing speed, decrease errors, and increase comfort</string>
		<key>KeyboardName</key>
		<string>Dvorak</string>
	</dict>
	<dict>
		<key>KeyboardDescription</key>
		<string>Something interesting here</string>
		<key>KeyboardName</key>
		<string>AZERTY</string>
	</dict>
	<dict>
		<key>KeyboardDescription</key>
		<string>The Colemak keyboard layout is an alternative to the standard QWERTY layout, offering a more incremental change for users already accustomed to the standard layout</string>
		<key>KeyboardName</key>
		<string>Colemak</string>
	</dict>
	<dict>
		<key>KeyboardDescription</key>
		<string>FITALY is a keyboard layout specifically optimized for stylus or touch-based input</string>
		<key>KeyboardName</key>
		<string>Fitaly</string>
	</dict>
</array>
</plist>
