<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ProductName</key>
		<string>doryStudiosAltKeysFitaly</string>
		<key>Name</key>
		<string>Fitaly</string>
	</dict>
	<dict>
		<key>ProductName</key>
		<string>doryStudiosAltKeysColemak</string>
		<key>Name</key>
		<string>Colemak</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AZERTY</string>
	</dict>
	<dict>
		<key>ProductName</key>
		<string>doryStudiosAltKeysDvorak</string>
		<key>Name</key>
		<string>Dvorak</string>
	</dict>
	<dict>
		<key>ProductName</key>
		<string>doryStudiosAltKeysTadpole</string>
		<key>Name</key>
		<string>Tadpole</string>
	</dict>
</array>
</plist>
